html {
	
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:16px;
	table-layout: auto;
}

body {
	
	margin:10px auto;
	background-color: #7073a557;
	padding:10px 30px;
	color: rgba(48, 40, 25, 0.63);
}

h2 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:30px;
	font-style:italic;
	letter-spacing:-0.05em;
	text-align: center;
	color:rgb(51, 51, 48);
	margin:2px 0 15px;
	text-shadow:2px 2px 2px #666;
}

h5{
	font-family:Georgia, "Times New Roman", Times, serif;
	letter-spacing:-0.05em;
	color:rgb(51, 51, 48);
	font-size:22px;
    text-align: center;
	margin:2px 0 15px;
	text-shadow:2px 2px 2px #999;
}

input {
	display:block;
	margin-bottom:20px;
	border:1px solid #999;
	padding:8px;
	border-radius:3px;
}

input:focus {
	border:1px solid #ccc;
	outline:none;
}

input[type=submit] {
	width:100px;
	color:#FFF;
	background:linear-gradient(top, rgba(247, 172, 35, 0.63), #933 );
	background:-webkit-linear-gradient(top, rgba(247, 172, 35, 0.63), #933 );
	background:-moz-linear-gradient(top, rgba(247, 172, 35, 0.63), #933 );
	border:1px solid #333;
	cursor:pointer;
	margin:auto;
}

table{
	align-content: center;
	border: solid 2px rgb(180, 190, 221);
	box-shadow: 10px 10px 5px #999;
	margin:auto;
}